<div class="profile clearfix">

  <% if user.avatar? %>
    <%= link_to image_tag(user.avatar.url(:thumb)), user_path(user.id), class: 'gravatar' %>
  <% else %>
    <%= link_to image_tag('https://cdn-st2.rtr-vesti.ru/vh/pictures/hdr/121/472/1.jpg', size: '52x52', class: 'gravatar') %>
  <% end %>
  <div><%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id)%></div>
  <div><%= user.email%></div>
  <div class="tweet-actions">
    <%= link_to 'Edit', edit_user_path(user[:id]), class: 'btn btn-primary' if user.id == current_user.id  %>
    <% if user != current_user %>
        <% if current_user.following?(user)%>

        <%= %>
        <%else%>
          <%= link_to 'Follow', user_relationship_path(user), class: 'btn btn-primary' %>
        <%end%>
    <%end%>
  </div>
</div>

<div class="tweet-actions">

</div>

<div class="stats">
  <table>
    <tbody>
      <tr>
        <th>Tweets</th>
        <th>Followings</th>
        <th>Followers</th>
      </tr>
      <tr>
        <% @user ||= current_user %>
        <td><%= link_to user.tweets.count, tweets_path %></td>
        <td><%= link_to user.followings.count,  followings_user_path(user) %></td>
        <td><%=link_to user.followers.count, tweets_path %></td>

      </tr>
    </tbody>
  </table>
</div>
