<div class="profile clearfix">
<% if user.avatar? %>
  <%= link_to image_tag(user.avatar.url(:thumb)), user_path(user.id), class: 'gravatar' %>
<% else %>
  <%=  %>
  <%= link_to image_tag user.avatar.url, user_path(user[:id]), class: 'gravatar' %>
<% end %>

  <div><%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id)%></div>
  <div><%= user.email%></div>
  <div class="tweet-actions">
    <%= link_to 'Edit', edit_user_path(user[:id]), class: 'btn btn-primary' if user.id == current_user.id  %>
    <%= link_to 'Follow', user_path(user.id), class: 'btn btn-primary' if user.id != current_user.id %>
  </div>
</div>

<div class="tweet-actions">

</div>

<div class="stats">
  <table>
    <tbody>
      <tr>
        <th>Tweets</th>
        <th>Followings</th>
        <th>Followers</th>
      </tr>
      <tr>
        <% @user ||= current_user %>
        <td><%= link_to user.tweets.count, tweets_show_path %></td>
        <td><%= link_to user.followers.count, show_followings_path(user) %></td>
        <td><%= link_to user.followings.count, tweets_show_path %></td>

      </tr>
    </tbody>
  </table>
</div>
