<div class="profile clearfix">
  <%=have_avatar(user, '100x100')%>
  <div><%=  user_name(user)%></div>
  <div><%= user.email%></div>
  <div class="tweet-actions">
    <%if user != current_user%>
      <%unless current_user.following?(user)%>
        <%=link_to 'Follow', user_relationships_path(user), method: :post, class: 'btn btn-primary'%>
      <%else%>
        <%=link_to 'Unfollow', user_relationship_path(user, current_user.active_relationships.find_by(followed_id: user.id)), method: :delete, class: 'btn btn-primary'%>
      <%end%>
    <%end%>

  </div>
</div>
<%= render 'partials/user_statist', user: user %>
