<div class="profile clearfix">

  <% if user.avatar? %>
    <%= link_to image_tag(user.avatar.url(:thumb)), user_path(user.id), class: 'gravatar' %>
  <% else %>
    <%= link_to image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtNAniTIhO_bj2xsg2lxWHQqK1Zd1bpDPaoGhWjHPaERAANFnw6g', size: '100x100', class: 'gravatar') %>
  <% end %>
  <div><%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id)%></div>
  <div><%= user.email%></div>
  <div class="tweet-actions">

    <% if user != current_user %>
        <% if current_user.following?(user)%>

        <%= %>
        <%else%>
          <%= link_to 'Follow', user_relationship_path(user), class: 'btn btn-primary' %>
        <%end%>
    <%end%>
  </div>
</div>
<div class="stats">
  <table>
    <tbody>
      <tr>
        <th>Tweets</th>
        <th>Followings</th>
        <th>Followers</th>
      </tr>
      <tr>

        <td><%= link_to user.tweets.count, tweets_path %></td>
        <td><%= link_to user.followings.count,  followings_user_path(user) %></td>
        <td><%=link_to user.followers.count, followers_user_path(user) %></td>

      </tr>
    </tbody>
  </table>
</div>
