<% @users.each do |user| %>
  <div class="profile clearfix">
      <% if user.avatar? %>
      <%= link_to image_tag(user.avatar.url(:thumb)), user_path(user.id), class: 'gravatar' %>
    <% else %>
      <%= link_to image_tag(''), user_path(user[:id]), class: 'gravatar' %>
    <% end %>
    <div><%= link_to user.first_name+ ' ' +user.last_name, user_path(user.id)%>
    </div>
    <div><%= user.email%>
    </div>
    <% if user != current_user %>
        <% if current_user.following?(user)%>

        <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
              html: { method: :delete }) do |f| %>
                  <%= f.submit "Unfollow", class: 'btn btn-primary' %>
              <% end %>
        <%else%>
          <%= link_to 'Follow', following_user_path(user), class: 'btn btn-primary' %>
        <%end%>
    <%end%>
  </div>



<% end %>
