<%= render 'partials/nav_bar' %>
<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section>

        <%= render 'partials/info_about_user', user: current_user %>
        <%= render 'partials/new_tweet' %>
      </section>
    </aside>

    <div class="col-md-8">
      <%= render 'partials/show_tweet', user: current_user%>
    </div>
  </div>
</div>

<%= simple_form_for @tweet do |f| %>
  <%= f.input :text,  error: 'Username is mandatory, please specify one' %>

  <%= f.button :submit %>
<% end %>
